# Maven / Gradle build

!./target/airport-system.0.0.1-SNAPSHOT.jar
build/
classes

# Maven Wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd

# IDE files
*.iml
.idea/
.vscode/
*.class
*.project
*.classpath
.settings/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Docker
# DO NOT ignore Dockerfile if deploying with Docker